body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(21, 1fr);
    height: 100vh;
}

header {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(11, 1fr);
    grid-column: span 11;
    grid-row: span 4;
    background: rgb(25, 25, 25);
    border-bottom: 2px solid rgb(51, 51, 51);
}

header img{
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(11, 1fr);
    grid-column: span 11;
    grid-row: span 4;
    border-bottom: 2px solid rgb(51, 51, 51);
    margin: 0 auto;
}

 .wraper-topside-header{ 
    display: grid;
    grid-column: span 11;
    grid-row: span 2;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(11, 1fr);
}

.wraper-topside-header h1{
    grid-column: span 11;
    grid-row: span 2;
    font-family: 'Lobster', cursive;
    margin: auto auto;
    color: #00EDED;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wraper-botom-header {
    display: grid;
    grid-column: span 11;
    grid-row: span 2;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.link-omoss{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto 0;
    background-color: #00f600;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 22.4px;
}

.link-omoss h1{
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.link-login{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto 0;
    background-color: #00f600;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 22.4px;
}

.link-login h1{
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: grid;
    grid-column: span 11;
    grid-row: span 1;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: rgb(25, 25, 25);
}

.crumbs {
    display: grid;
    grid-column: span 11;
    grid-row: span 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border-top: 2px solid rgb(51, 51, 51);
}

.crumbs ul {
    margin: 3px -2px 2px 2px;
    list-style: none;
    padding: 0;
}

.crumbs ul li {
    display: flex;
    height: 100%;
    align-items: center;
    
}

.crumbs ul li a{
    display: flex;
    height: 100%;
    text-align: center;
    padding: 0 27.325px;
}

.crumbs ul li a {
	display: block;
	float: left;
	height: 100%;
	background: rgb(51, 51, 51);
    position: relative;
    align-items: center;
	margin: 0px;
	font-size: 100%;
	text-decoration: none;
    color: #00f600;
    padding: 0 27.325px;
    font-family: 'Roboto', sans-serif;
}

.crumbs ul li a:after {
	content: "";  
	border-top: 13px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 13px solid rgb(51, 51, 51);
	position: absolute; right: -13px; top: 0;
}
.empty-space-left{
    display: grid;
    grid-column: span 1;
    grid-row: span 3;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(25, 25, 25);
    border-top: 2px solid rgb(51, 51, 51);
}

.menu i.material-icons{    
    font-size: 3em;
}

.menu{
    width: 0vw;
    height: 0vh;
    position: absolute;
    display: none;
}

.show{
    display: none;
}

.empty-space-right{
    display: grid;
    grid-column: span 1;
    grid-row: span 3;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(25, 25, 25);
    border-top: 2px solid rgb(51, 51, 51);
}

.sida-search{
    display: grid;
    grid-column: span 9;
    grid-row: span 3;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(9, 1fr);
    border-top: 2px solid rgb(51, 51, 51);
    background-color: rgb(25, 25, 25);
    border-bottom: 2px solid rgb(51, 51, 51);
}

.sida-search .text{
    display: grid;
    grid-column: span 9;
    grid-row: span 1;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.text p{
    grid-column: span 9;
    grid-row: span 1;  
    color: #00EDED;  
    margin: auto auto;
    font-size: auto;
    font-family: 'Roboto', sans-serif;
}

.type{
    display: grid;
    grid-column: span 7;
    grid-row: span 1;
    margin: 0 0 0 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.type input{
    grid-row: span 1;
    grid-column: span 7;
}

.button{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.button button{
    grid-column: span 2;
    grid-row: span 1;
    margin: 0 0 0 0;
}


    main {
       display: grid;
   grid-column: span 11;
   grid-row: span 14;
   grid-template-columns: repeat(11, 1fr);
   grid-template-rows: repeat(14, 1fr);
   background-color: rgb(25, 25, 25); 
   border-top: 2px solid rgb(51, 51, 51);
    }


.text-kartlänk{
    display: grid;
    grid-column: span 11;
    grid-row: span 1;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.text-kartlänk p{
    grid-column: span 11;
    grid-row: span 1;
    margin: auto auto;
    color: #00EDED;
    font-family: 'Roboto', sans-serif;
}

.Wraper-länk-karta{
    display: grid; 
    grid-column-start: 2;
    grid-row-start: 5;
    grid-column-end: 11;
    grid-row-end: 14;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #ffffff;
    border: 2px solid rgb(51, 51, 51);
}

.Wraper-länk-karta > .leftside-länk-karta{
    display: grid;
    grid-column: span 7;
    grid-row: span 9;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.leftside-länk-karta > .image-länk-karta{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column: span 7;
    grid-row: span 7;
    width: 100%;
    height: 222,367px;
    background-image: url(../img/Chalmers.jpg);
    background-size: 100% 100%;
} 

.Wraper-länk-karta > img{
    grid-column: span 7;
    grid-row: span 7;
    height: auto; 
    width: auto; 
    width: 100%;
    height: auto;
    overflow: hidden;
    background-size: cover;
}

.leftside-länk-karta > .namn-länk-karta{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: span 7;
    grid-row: span 2;
    background-color: rgb(25, 25, 25);
    border: 2px solid rgb(51, 51, 51);
}

.namn-länk-karta > p{
    grid-column: span 7;
    grid-row: span 2;
    text-align: center;
    margin: auto 0;
    font-size: 40px;
    color: #00f600;
    font-family: 'Roboto', sans-serif;
}

.Wraper-länk-karta > .rightside-länk-karta{
    display: grid;
    grid-column: span 2;
    grid-row: span 9;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: rgb(51, 51, 51);
    border: 2px solid rgb(51, 51, 51);
}



.rightside-länk-karta > .middle{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 3;
    grid-row-end: 6;
}

i.hej {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 60px; 
    color: #00f600;
}

.land1 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 6;
    grid-row-end: 5;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-top: 2px solid rgb(25, 25, 25);
}

.land1 > .leftside{
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land1 > .leftside > .img{
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url(../img/landskap.jpg);
    background-size: auto;
}

.land1 > .leftside > .landtext{
    display: grid;
    grid-column: span 3;
    grid-row: span 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.landtext > h1{
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}

.landtext > h1 > a{
    position: relative;
    align-items: center;
	margin: 0px;
	font-size: 100%;
	text-decoration: none;
    color: #00f600;
    padding: auto;
    font-family: 'Roboto', sans-serif;
}

.land2 {
    display: grid;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-top: 2px solid rgb(25, 25, 25);
}

.land2 > .leftside{
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land2 > .leftside > .img{
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url(../img/landskap.jpg);
    background-size: auto;
}

.land2 > .leftside > .landtext{
    display: grid;
    grid-column: span 3;
    grid-row: span 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.landtext > h1{
    grid-column: span 3;
    grid-row: span 1;
    font-size: 10px;
    margin: auto 0;
    text-align: center;
    vertical-align: middle;
}

.land3 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 6;
    grid-column-end: 6;
    grid-row-end: 10;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land3 > .leftside{
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land3 > .leftside > .img{
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url(../img/landskap.jpg);
    background-size: auto;
}

.land3 > .leftside > .landtext{
    display: grid;
    grid-column: span 3;
    grid-row: span 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.land4{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 10;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land4 > .leftside{
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land4 > .leftside > .img{
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url(../img/landskap.jpg);
    background-size: auto;
}

.land4 > .leftside > .landtext{
    display: grid;
    grid-column: span 3;
    grid-row: span 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.land5 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 11;
    grid-column-end: 6;
    grid-row-end: 15;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-bottom: 2px solid rgb(25, 25, 25);
}

.land5 > .leftside{
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land5 > .leftside > .img{
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url(../img/landskap.jpg);
    background-size: auto;
}

.land5 > .leftside > .landtext{
    display: grid;
    grid-column: span 3;
    grid-row: span 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.land6{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 15;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-bottom: 2px solid rgb(25, 25, 25);
}

.land6 > .leftside{
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.land6 > .leftside > .img{
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url(../img/landskap.jpg);
    background-size: auto;
}

.land6 > .leftside > .landtext{
    display: grid;
    grid-column: span 3;
    grid-row: span 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.komplet-vald-search {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 11;
    grid-row-end: 5;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.komplet-vald-search > .img {
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.komplet-vald-search > .tidigare-sökta{
    display: grid;
    grid-column: span 6;
    grid-row: span 3;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.transport-tåg-wraper{
    display: grid;
    grid-column-start: 2;
    grid-row-start: 6;
    grid-column-end: 6;
    grid-row-end: 9;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.transport-plan-wraper {
    display: grid;
    grid-column-start: 7;
    grid-row-start: 6;
    grid-column-end: 11;
    grid-row-end: 9;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.transport-buss-wraper {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 11;
    grid-column-end: 6;
    grid-row-end: 14;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.transport-eget-wraper {
    display: grid;
    grid-column-start: 7;
    grid-row-start: 11;
    grid-column-end: 11;
    grid-row-end: 14;
    background-color: rgb(51, 51, 51);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

footer{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: span 11;
    grid-row: span 2;
    background-color: rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51)
}

footer p{
    color: #00f600;
    grid-column: span 11;
    grid-row: span 2;
    margin: auto auto;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-device-width: 400px){
    main {
       display: grid;
   grid-column: span 11;
   grid-row: span 14;
   grid-template-columns: repeat(11, 1fr);
   grid-template-rows: repeat(14, 1fr);
   background-color: rgb(25, 25, 25);
    }
    .empty-space-left{
        display: grid;
        grid-column: span 3;
        grid-row: span 3;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: rgb(25, 25, 25);
        border-top: 2px solid rgb(51, 51, 51);
    }
    
    .empty-space-right{
        display: grid;
        grid-column: span 3;
        grid-row: span 3;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: rgb(25, 25, 25);
        border-top: 2px solid rgb(51, 51, 51);
    }
    
    .sida-search{
        display: grid;
        grid-column: span 5;
        grid-row: span 3;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(5, 1fr);
        border-top: 2px solid rgb(51, 51, 51);
        background-color: rgb(25, 25, 25);
        border-bottom: 2px solid rgb(51, 51, 51);
    }
    
    .sida-search .text{
        display: grid;
        grid-column: span 5;
        grid-row: span 1;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .text p{
        grid-column: span 5;
        grid-row: span 1;  
        color: #00EDED;  
        margin: auto auto;
        font-size: auto;
        font-family: 'Roboto', sans-serif;
    }
    
    .type{
        display: grid;
        grid-column: span 4;
        grid-row: span 1;
        margin: 0 0 0 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .type input{
        grid-row: span 1;
        grid-column: span 4;
    }
    
    .button{
        display: grid;
        grid-column: span 1;
        grid-row: span 1;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .button button{
        grid-column: span 1;
        grid-row: span 1;
        margin: 0 0 0 0;
    }
    .link-omoss{
        display: none;
    }
    
    .link-omoss h1{
        display: none;
    }
    
    .link-login{
        display: none;
    }
    
    .link-login h1{
        display: none;
    }

    main i.material-icons{
        font-size: 3em;
        color: #00f600;
    }
    
    .menu i.material-icons{    
        font-size: 3em;
    }
    
    .menu{
        width: 80vw;
        height: 100vh;
        position: absolute;
        background: white;
        display: none;
        z-index: 10;
    }
    
    .show{
        display: block;
    }
    .fade{
        background-color: rgb(100,100,100)
    }
}